body {
  font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
}

header {
  padding: 2em;
  margin: auto;
}

.tab {
  overflow: hidden;
  border: 1px solid #000;
  background-color: #fff;
}

.tab button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  background-color: #fff;
  float: left;
  border: #000;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  margin: auto;
}

.tab button:hover {
  background-color: #rgb(119, 0, 201);
}

.tab button.active {
  background-color: #rgb(119, 0, 201);
}

.tabcontent {
  display: grid;
  padding: 1em;
  border: none;
}
